<html>

    <head>
        
        <script src="./test.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>        

        <style>

            #suggestbox {
                position: absolute;
                z-index: 1000;
                top: 0;
                left: 0;
                width: calc(100% - (16px * 2));
            }

            #app {
                padding: 16px;
            }

            .suggest-item {
                padding: 16px;
            }

        </style>

    </head>

    <body>

        <div id="app">
            <input class="form-control" id="searchkeyword" @input="bindInput" @blur="bindBlur" @focus="bindFocus" placeholder="検索キーワード">
            
            <div class="border rounded" id="suggestbox" v-if="isShowSuggestBox">
                
                <div class="suggest-item" v-for="resultItem in searchResultItems">
                    <div>{{resultItem.item.number}} - {{resultItem.item.question}}</div>
                    <div v-if="resultItem.isMatchAnswer">{{ resultItem.item.answer }}</div>
                </div>

            </div>
        </div>

        <script>

            const searchboxRect = document.getElementById("searchkeyword").getBoundingClientRect();
            const suggestbox = document.getElementById("suggestbox");
            
            suggestbox.style.top = searchboxRect.bottom;
            suggestbox.style.left = searchboxRect.left;

            const macthKeywords = (text, keywords) => {
                
                for (const keyword of keywords) {
                    if (text.indexOf(keyword) > -1) return true;
                }

                return false;
            }

            const filterItems = (sourceItems, queryText) => {

                if (queryText.length == 0) return [];

                const keywords = queryText.trim().split(/\s/);
                const resultItems = [];

                for (const item of sourceItems) {

                    const isMatchAnswer = macthKeywords(item.answer, keywords);

                    if (isMatchAnswer || macthKeywords(item.question, keywords)) {
                        resultItems.push({
                            isMatchAnswer, 
                            item,
                        })
                    }
                }

                return resultItems;
            }

            const { createApp, ref, computed } = Vue;

            createApp({

                setup() {                    
                    
                    const data = testData;
                    const message = ref('Hello Vue!');
                    const queryText = ref('');

                    const hasFocusInput = ref(false);

                    const searchResultItems = computed(() => filterItems(data, queryText.value));
                    const isShowSuggestBox = computed(() => hasFocusInput.value && searchResultItems.value.length > 0);

                    const bindInput = ( e ) => {
                        queryText.value =  e.target.value;
                    }

                    const bindFocus = (e) => {
                        hasFocusInput.value = true;
                    }

                    const bindBlur = (e) => {
                        hasFocusInput.value = false;
                    }

                    const toHighlightWords = (text, keywords) => {



                    }

                    return {
                        message,
                        queryText,
                        isShowSuggestBox,
                        searchResultItems,
                        bindInput,
                        bindBlur,
                        bindFocus,
                    }
                }

            }).mount('#app');

        </script>

    </body>

</html>